*{
    padding :0px;
    margin : 0px;
}
.heading{
    position : fixed;
    top : 0;
    text-align: center;
    font-size : 25px;
    font-family : system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 0;
    color : rgb(94, 94, 246);
    width : 100%;
    padding-top : 15px;
}
body{
    overflow: hidden;
    height : 100vh;
    display : flex;
    flex-direction: column;

}
.startgame{
    padding : 15px 25px;
    color : white;
    background-color: #007bff;
    cursor : pointer;
    border : none ;
    border-radius : 15px;
    font-size : 18px;
    box-shadow : 1px 1px 3px 2px rgb(135, 133, 133);
    border : 1px solid white;
    outline: 1px solid black;
}
.center{
    flex : 1;
    display : flex;
    justify-content: center;
    align-items: center;
}
#into{
    color : rgb(74, 119, 245,0.9);
}
.gamecontainer{
    position : absolute;
    top : 130px;
    height : 320px;
    width : 320px;
    display : grid;
    grid-template-rows : repeat(3,1fr);
    grid-template-columns : repeat(3,1fr);
    gap : 10px;
    row-gap: 10px;
}
.box {

    background: rgba(93, 91, 91, 0.15);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(128, 125, 125, 0.3);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    height :100px;
    width : 100px;
    display : flex;
    align-items : center ; 
    justify-content: center;
    font-size:80px;
    font-weight: 100;
    color : transparent;

}
.mesage{
     background: #109ef626;
    backdrop-filter: blur(8px);
    border: 1px solid rgba(99, 96, 96, 0.3);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    height : 50px;
    width : 320px;
    position : relative;
    top : 28%;
    display : flex;
    justify-content: center;
    align-items: center;
    font-size : 20px;
}
.refresh{
    height : 50px;
    width : 50px;
    background: rgba(0, 140, 255, 0.15);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(58, 4, 252, 0.3);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(44, 18, 211, 0.15);
    position : absolute;
    top : 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color : rgb(94, 94, 94);
    left : 20%;
}
.refresh:hover{
    height: 45px;
    width : 45px;
    font-size : 25px;
}
#icon{
    color  : rgb(74, 119, 245,0.9);
}
.about{
    color : rgb(5, 117, 255);
    position : absolute;
    top : 86%;
    background: rgba(0, 140, 255, 0.15);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(58, 4, 252, 0.3);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(44, 18, 211, 0.15);
    padding : 10px;
    

}
/* WIN LINE */
#win-line {
    position: absolute;
    height: 6px;
    width: 0;
    background: #ff3b3b;
    top: 50%;
    left: 50%;
    transform-origin: center;
    display: none;
    border-radius: 5px;
    z-index: 999;
}

